# Ignore virtual environment
venv/
env/
.env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore CSV inside feature_set (keep folder)
feature_set/*.csv

# Ignore CSV inside dashboard (keep folder)
dashboard/*.csv

# Ignore all CSV (fallback, safety)
*.csv
